<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
	<!--开启注解扫描 配置创建只扫描controller注解 spring 容器要扫描的包 -->
	<!-- <context:component-scan base-package="cn.itcast"> -->
	<context:component-scan
		base-package="grp.wudi.j2ee">
		<!-- 制定扫包规则 ,只扫描使用@Controller 注解的 JAVA 类 -->
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 配置视图解析器 -->
	<bean id="internalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 设置不过滤的静态资源 -->
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/plugins/**" location="/plugins/" />
	<mvc:resources mapping="/js/**" location="/js/" />

	<!-- 拦截器定义 -->
	<mvc:interceptors>
		<!-- 定义一个拦截器 -->
		<mvc:interceptor>
            <!-- 拦截所有资源 -->
            <mvc:mapping path="/**/"/>


			<!-- 设置放行资源 -->



			<mvc:exclude-mapping path="/house/getHouseById"/>
			<mvc:exclude-mapping path="/admin/login.do"/>
			<mvc:exclude-mapping path="/agent/Agentlogin"/>
			<mvc:exclude-mapping path="/house/findAllBypages"/>
			<mvc:exclude-mapping path="/css/**" />
			<mvc:exclude-mapping path="/img/**" />
			<mvc:exclude-mapping path="/plugins/**" />
			<mvc:exclude-mapping path="/js/**" />
			<mvc:exclude-mapping path="/houseAgent/findHouseByAgent"/>
			<mvc:exclude-mapping path="/picture/upload"/>

			<mvc:exclude-mapping path="/**/houseAgent/findAgentByHouseId"/>

			<mvc:exclude-mapping path="/user/userLogin"/>
			<mvc:exclude-mapping path="/house/getHouseById"/>



            <bean class="grp.wudi.j2ee.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
		
		<!-- 定义一个拦截器 -->
		<mvc:interceptor>
			<!-- 拦截资源 -->
			<mvc:mapping path="/admin/**" />

			<!-- 设置放行资源 -->

            <mvc:exclude-mapping path="/admin/login.do" />
			<mvc:exclude-mapping path="/admin/logout.do" />
			<mvc:exclude-mapping path="/admin/update" />
			<mvc:exclude-mapping path="/css/**" />
			<mvc:exclude-mapping path="/img/**" />
			<mvc:exclude-mapping path="/plugins/**" />
			<mvc:exclude-mapping path="/js/**" />

			<bean class="grp.wudi.j2ee.interceptor.AdminInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- <mvc:resources mapping="" location="" -->
	<mvc:annotation-driven></mvc:annotation-driven>
</beans>
